.search-bar{
  padding: 5px 222px 5px 10px;
  border-radius: 5px;
}
.logo a{
  text-decoration: none !important;
  color: white;
  font-size: 24px;
  font-weight: bold;
}
.logo a:hover{
  color: white;
}
.filters {
  background-color: #343a40;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;

  margin: 50px 10px 10px 10px;
  height: 86vh;
}

.filters > span {
  padding-bottom: 20px;
}

.title {
  font-size: 30px;
}
.cartitem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
  margin-bottom: 20px;
}

.cartItemImg {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.cartItemDetail {
  display: flex;
  flex: 1;
  padding: 0 20px;
  flex-direction: column;
}
